/* .bg{
    position:absolute;
      background: linear-gradient(to bottom left, white 50%, var(--purple) 50%);
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 100vh;
      width: 50%;
}  */
  :root{
      --purple: #9C82E5;
  }
  
  .text{
  padding-bottom: 20px;  
  color: var(--purple);
  }
  
  form {
      border-radius: 40px;
      border: 3px solid #f1f1f1;
      width: 50%;
      padding: 20px;
  }
  
  
  .log{
      padding-bottom:50px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      font-size: 35px;
      color: var(--purple);
  }
  
    /* Full-width inputs */
    input[type=text], input[type=password] {
      border-radius: 40px;
      font-size: 20px;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
      border-radius: 40px;
      font-size: 20px;
      background-color: var(--purple);
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    
    /* Add a hover effect for buttons */
    button:hover {
      opacity: 0.8;
    }
    
    
    /* Add padding to containers */
    .container {
      padding-left: 30%;
      padding-top: 100px;
    }